# Question & Answers based on the Employee Database

## Basics Queries

#### Query 1

List all employees' names and their hire dates:

##### Answer

In [ ]:
SELECT first_name || ' ' || last_name as Name, hire_date
FROM employees;

#### Query 2

Find the highest salary in the database

##### Answer

In [ ]:
SELECT 
    MAX(salary) AS highest_salary
FROM salaries;

#### Query 3

List all employees who were hired in the year 2000:

Note that: to get the year in sqlite we use: strftime('%Y', date_column)

##### Answer

In [ ]:
SELECT * 
FROM employees
WHERE strftime('%Y', hire_date) = '2000';

in SQLite we can extract the year as follow:

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date) = '2000';

#### Query 4

Find the average salary for all employees:

##### Answer

In [ ]:
SELECT 
    AVG(salary) AS Avagrage_salary
FROM salaries;

#### Query 5

List all departments and the number of employees in each

- as a hint run the following query

In [ ]:
SELECT d.dept_name , d.dept_no, e.emp_no 
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no

##### Answer

In [ ]:
SELECT d.dept_name , count(e.emp_no) as Emp_number
FROM departments d
JOIN dept_emp e ON d.dept_no = e.dept_no
GROUP by  
	d.dept_name ;

#### Query 6

List all employees whose first name starts with 'A'

##### Answer

In [ ]:
SELECT *
FROM employees
WHERE first_name LIKE 'A%';

#### Query 7

Find the number of employees in the 'Sales' department

##### Answer

In [ ]:
SELECT COUNT(*) AS numOfEmp_inSales
FROM dept_emp de
JOIN departments d ON de.dept_no = d.dept_no
WHERE d.dept_name = 'Sales';

#### Query 8

List all employees who were hired in the year 1995

##### Answer

In [ ]:
SELECT * FROM employees
WHERE strftime('%Y', hire_date) = '1995';

to get the count of them

In [ ]:
SELECT count(*) as numbers FROM employees
WHERE strftime('%Y', hire_date) = '1995';

#### Query 9

Find the average salary of all employees

##### Answer

In [ ]:
SELECT AVG(salary) AS average_salary
FROM salaries;

#### Query 10

List the top 5 highest-paid employees

- as hint you can use **LIMIT** funtion to print only the number after it.

##### Answer

In [ ]:
SELECT e.first_name||' ' || e.last_name as Name  , s.salary
FROM employees e
JOIN salaries s ON e.emp_no = s.emp_no
ORDER BY s.salary DESC
LIMIT 5;

#### Query 11

List all employees and their department names.

##### Answer

<pre>1- select column names we need [employee id , full name , department name]
2- select the tables we work with [employee , department , emp_dept]
3- join employee table with emp_dept to get dept no for each employee 
4- join emp_dept table with departmant table to get depertment name .</pre>

In [ ]:
SELECT 
    e.emp_no, 
	first_name || ' ' || last_name AS name ,
    d.dept_name
FROM 
    employees e
JOIN 
    dept_emp de ON e.emp_no = de.emp_no
JOIN 
    departments d ON de.dept_no = d.dept_no;

#### Query 12

Find the number of employees in each department

##### Answer

<pre>1- dept name , emp_no 
2- employee table , dept table , dept_emp
3- join emp table with dept table to get emp in each dept using count and emp_id 
4- join dept_emp table with dept table to get names . 
5- make groups depend on dept name</pre>

In [ ]:
SELECT 
    COUNT(e.emp_no) AS number_of_employee,
    d.dept_name
FROM 
    employees e
JOIN 
    dept_emp de ON e.emp_no = de.emp_no
JOIN 
    departments d ON de.dept_no = d.dept_no
GROUP BY 
    d.dept_name;

#### Query 13

List all employees who have never had a salary increase

##### Answer

<div dir="rtl" align="right">
هو انا هحلها بطريقه بس مش عارفه هتبقا مضبوطه ولا لا بس لما بصيت في جدول المرتبات كان لكل
emp id كذا ريكورد بمرتبه ففتره معينه و هكذا فلو مثلا حد مزدش قبل كدا هيكون معندوش غير صف واحد
</div>

<pre>1- emp id , emp name 
2- employee table , salaries 
3- join employee with salaries using emp id
4- groups مثلا حسب معلومات الموظف  , نحط شرط انه معندوش غير صف واحد ف المرتبات
</pre>

In [ ]:
SELECT 
    e.emp_no,
    e.first_name || ' ' || e.last_name AS name
FROM 
    employees e
JOIN 
    salaries s ON e.emp_no = s.emp_no
GROUP BY 
    e.emp_no, e.first_name, e.last_name
HAVING 
    COUNT(s.salary) = 1;

#### Query 14

Find the highest salary for each department.

##### Answer

<div dir="rtl" align="right">
هنا هنربط تلات جداول ببعض dept_emp , dept , salareis  سوا بعدين هنعمل مجموعات بتعتمد علي اسم القسم و يكون شرطها اعلي مرتب 
</div>

<pre>1- dept name , max salary 
2- dept , dept_emp , salareis
3- join dept emp with salareis using emp id
4- join dept with dept emp using dept id
5- make groups using dept name

In [ ]:
SELECT 
    d.dept_name, 
    MAX(s.salary) AS highest_salary
FROM 
    departments d
JOIN 
    dept_emp de ON d.dept_no = de.dept_no
JOIN 
    salaries s ON de.emp_no = s.emp_no
GROUP BY 
    d.dept_name;

#### Query 15

List all employees who have had more than one manager

##### Answer

<div dir="rtl" align="right">
هنا نفس فكره 13 برده الي اتعين تحت مدير واحد هيكون ليه صف واحد فالجدول لكن الاكثر من مدير هيكون ليه كذا صف بس المشكله ان جدول المديرين مفهوش الموظفين فيه بس الاقسام الي مسكوها فالمفروض نشوف الموظفين الي اشتغلوا فاكتر من قسم الاول بعدين نربطهم بالجدول بتاع المديرين و نطلع كل موظف كان ليه اكتير من مدير 
</div>

<pre>1- emp no , name.
2- emp table , dept_emp table , manger table
3- join emp with dept_emp 
4- join dept with manger table
5- grouping using emp بشرط انه عنده اكتر من صف في جدول القسم و الموظف

In [ ]:
SELECT 
    e.emp_no, 
    e.first_name || ' ' || e.last_name AS name
FROM 
    employees e
JOIN 
    dept_emp de ON e.emp_no = de.emp_no
JOIN 
    dept_manager dm ON de.dept_no = dm.dept_no
GROUP BY 
    e.emp_no, e.first_name, e.last_name
HAVING 
    COUNT(DISTINCT dm.emp_no) > 1;

## Intermediate Queries

#### Query 1

List all employees who have been with the company for more than 15 years:

- hint 

DATEDIFF(CURDATE(), hire_date)  = > JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

in SQLite

#### Query 2

Find the highest salary paid to an employee in the 'Sales' department:

##### Answer

#### Query 3

List all employees who have had more than 2 different titles:

##### Answer

#### Query 4

Find the average salary for female employees in the 'Engineering' department:

##### Answer

#### Query 5

List all employees who have never had a salary increase:

##### Answer

#### Query 6

Find the average salary for female employees in the 'Sales' department.

##### Answer

#### Query 7

List all employees who have been with the company for more than 10 years

- hint: JULIANDAY(date('now')) - JULIANDAY(hire_date)

##### Answer

#### Query 8

Find the employee who has had the most job titles

##### Answer

#### Query 9

List all employees who have worked in more than one department

##### Answer

#### Query 10

Find the department with the highest average salary

##### Answer

#### Query 11

List all employees who have had a salary increase of more than 10%

##### Answer

## Advanced queries

#### Query 1

Find the top 10 highest-paid employees in the company

##### Answer

#### Query 2

List all employees who have had more than one manager:

##### Answer

#### Query 3

List all departments and the average salary of their employees

##### Answer