In [1]:
#import sqllite API 
import sqlite3

In [2]:
#create database and connect to it 
db = sqlite3.connect("DEPI.db")

In [3]:
#create cursor [query object] 
crsr = db.cursor()

In [4]:
# Create Round Table
round_table = """CREATE TABLE IF NOT EXISTS Round (
    round_id INTEGER PRIMARY KEY AUTOINCREMENT,
    start_date DATE,
    end_date DATE
);"""
crsr.execute(round_table)

# Create Track Table
track_table = """CREATE TABLE IF NOT EXISTS Track (
    track_id INTEGER PRIMARY KEY AUTOINCREMENT,
    long_name TEXT NOT NULL,
    short_name TEXT NOT NULL
);"""
crsr.execute(track_table)

# Create Student Table
student_table = """CREATE TABLE IF NOT EXISTS Student (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    phone TEXT NOT NULL,
    track_id INTEGER,  -- Foreign key to Track
    round_id INTEGER,  -- Foreign key to Round
    city_id INTEGER,   -- Foreign key to City
    FOREIGN KEY (track_id) REFERENCES Track(track_id) ON DELETE SET NULL,
    FOREIGN KEY (round_id) REFERENCES Round(round_id) ON DELETE SET NULL,
    FOREIGN KEY (city_id) REFERENCES City(city_id) ON DELETE SET NULL
);"""
crsr.execute(student_table)

# Create Company Table
company_table = """CREATE TABLE IF NOT EXISTS Company (
    company_id INTEGER PRIMARY KEY AUTOINCREMENT,
    company_name TEXT NOT NULL
);"""
crsr.execute(company_table)

# Create City Table
city_table = """CREATE TABLE IF NOT EXISTS City (
    city_id INTEGER PRIMARY KEY AUTOINCREMENT,
    city_name TEXT NOT NULL
);"""
crsr.execute(city_table)

#-------------------------------------------------------------
# Relationship Tables

# Round_City Table (Many-to-Many: Rounds in Cities)
round_city_table = """CREATE TABLE IF NOT EXISTS Round_City (
    round_id INTEGER,
    city_id INTEGER,
    PRIMARY KEY (round_id, city_id),
    FOREIGN KEY (round_id) REFERENCES Round(round_id) ON DELETE CASCADE,
    FOREIGN KEY (city_id) REFERENCES City(city_id) ON DELETE CASCADE
);"""
crsr.execute(round_city_table)

# Company_City Table (Many-to-Many: Companies in Cities)
company_city_table = """CREATE TABLE IF NOT EXISTS Company_City (
    company_id INTEGER,
    city_id INTEGER,
    PRIMARY KEY (company_id, city_id),
    FOREIGN KEY (company_id) REFERENCES Company(company_id) ON DELETE CASCADE,
    FOREIGN KEY (city_id) REFERENCES City(city_id) ON DELETE CASCADE
);"""
crsr.execute(company_city_table)

#Student_City table  (Many-to-One : Students in  City)
student_city_table = """CREATE TABLE Student_City(
    student_id INT,
    city_id INT,
    PRIMARY KEY (student_id, city_id),
    FOREIGN KEY (student_id) REFERENCES Student(student_id),
    FOREIGN KEY (city_id) REFERENCES City(city_id)
);"""
crsr.execute(student_city_table)

#Student_Round Table (Many-to-One: Students in Round)
student_round_table = """CREATE TABLE Student_Round (
    student_id INT,
    round_id INT,
    PRIMARY KEY (student_id, round_id),
    FOREIGN KEY (student_id) REFERENCES Student(student_id),
    FOREIGN KEY (round_id) REFERENCES Round(round_id)
);"""
crsr.execute(student_round_table)

In [5]:
#insert data into tabels 
#-----------------------


# Insert data into Round table
crsr.execute("insert into Round(round_id, start_date ,end_date) values (1 ,'2023-09-10' , '2024-06-10')")
crsr.execute("insert into Round(round_id, start_date ,end_date) values (2 ,'2024-09-10' , '2025-06-10')")
#-------------------------------------------------------------
# Insert data into Track table
crsr.execute("insert into Track(track_id, long_name ,short_name ) values ( 45 ,'data analysis with microsoft', 'DAMS_45_S1' )")
crsr.execute("insert into Track(track_id, long_name ,short_name ) values ( 78 ,'Data Science with microsoft' , 'DSMS_78_S1' )")
crsr.execute("insert into Track(track_id, long_name ,short_name ) values ( 87 ,'data analysis with IBM'      , 'DAIBM_87_S1')")
crsr.execute("insert into Track(track_id, long_name ,short_name ) values ( 13 ,'Data Science with IBM'       , 'DSIBM_13_S1')")
#-------------------------------------------------------------
# Insert data into Student table
crsr.execute("insert into Student(student_id, name ,phone , track_id , round_id ,city_id) values ( 1,'sama'   ,'0105544' ,13 ,2 ,250)")
crsr.execute("insert into Student(student_id, name ,phone , track_id , round_id ,city_id) values ( 2,'malak'  ,'0124524' ,13 ,2 ,250)")
crsr.execute("insert into Student(student_id, name ,phone , track_id , round_id ,city_id) values ( 3,'bavly'  ,'0154546' ,13 ,2 ,250)")
crsr.execute("insert into Student(student_id, name ,phone , track_id , round_id ,city_id) values ( 4,'mahmoud','0101545' ,13 ,2 ,250)")
crsr.execute("insert into Student(student_id, name ,phone , track_id , round_id ,city_id) values ( 5,'ramy'   ,'0145854' ,13 ,2 ,250)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (13 ,'amar'  , '0101155',78 ,1 ,250)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (14 ,'john'  , '0101910',87 ,1 ,230)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (15 ,'younes', '0131055',78 ,1 ,230)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (16 ,'ali'   , '0101065',78 ,2 ,250)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (17 ,'alaa'  , '0101710',78 ,1 ,230)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (18 ,'nady'  , '0101410',78 ,1 ,250)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (19 ,'nader' , '0102010',13 ,2 ,150)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (20 ,'wagieh', '0181010',78 ,2 ,250)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (21 ,'bassem', '0151010',45 ,1 ,150)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (22 ,'saber' , '0106010',87 ,2 ,230)")
crsr.execute("insert into Student(student_id ,name ,phone , track_id , round_id ,city_id) values (23 ,'yousry', '0141010',78 ,1 ,250)")
crsr.execute("insert into Student(student_id, name ,phone , track_id , round_id ,city_id) values (24 ,'heba'  , '0101010',78 ,2 ,250)")
crsr.execute("insert into Student(student_id, name ,phone , track_id , round_id ,city_id) values (25 ,'maged' , '0101210',45 ,1 ,150)")
#-------------------------------------------------------------
# Insert data into Company table
crsr.execute("insert into Company(company_id, company_name ) values ( 547 , 'Eyouth')")
crsr.execute("insert into Company(company_id, company_name ) values ( 845 , 'newhorizon')")
crsr.execute("insert into Company(company_id, company_name ) values ( 458 , 'yat')")
#-------------------------------------------------------------
# Insert data into City table
crsr.execute("insert into city(city_id, city_name ) values ( 250 , 'assiut' )")
crsr.execute("insert into city(city_id, city_name ) values ( 230 , 'sohag' )")
crsr.execute("insert into city(city_id, city_name ) values ( 150 , 'aswan' )")
#-------------------------------------------------------------
# Insert data into Round_City table
crsr.execute("INSERT INTO Round_City (round_id, city_id) VALUES (1, 250)")  # Round 1 in Assiut
crsr.execute("INSERT INTO Round_City (round_id, city_id) VALUES (2, 250)")  # Round 2 in Assiut
crsr.execute("INSERT INTO Round_City (round_id, city_id) VALUES (1, 230)")  # Round 1 in Sohag
crsr.execute("INSERT INTO Round_City (round_id, city_id) VALUES (2, 230)")  # Round 2 in Sohag
crsr.execute("INSERT INTO Round_City (round_id, city_id) VALUES (1, 150)")  # Round 1 in Aswan
crsr.execute("INSERT INTO Round_City (round_id, city_id) VALUES (2, 150)")  # Round 2 in Aswan
#-------------------------------------------------------------
# Insert data into Company_City table
crsr.execute("INSERT INTO Company_City (company_id, city_id) VALUES (547, 250)")  # Eyouth in Assiut
crsr.execute("INSERT INTO Company_City (company_id, city_id) VALUES (845, 250)")  # Newhorizon in Assiut
crsr.execute("INSERT INTO Company_City (company_id, city_id) VALUES (458, 230)")  # yat in Sohag
crsr.execute("INSERT INTO Company_City (company_id, city_id) VALUES (547, 230)")  # Eyouth in Sohag
crsr.execute("INSERT INTO Company_City (company_id, city_id) VALUES (845, 150)")  # Newhorizon in Aswan
#-------------------------------------------------------------
# Insert data into Student_Round table
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (1, 2)")  # Sama in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (2, 2)")  # Malak in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (3, 2)")  # Bavly in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (4, 2)")  # Mahmoud in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (5, 2)")  # Ramy in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (13, 1)")  # Amar in Round 1
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (14, 1)")  # John in Round 1
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (15, 1)")  # Younes in Round 1
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (16, 2)")  # Ali in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (17, 1)")  # Alaa in Round 1
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (18, 1)")  # Nady in Round 1
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (19, 2)")  # Nader in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (20, 2)")  # Wagieh in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (21, 1)")  # Bassem in Round 1
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (22, 2)")  # Saber in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (23, 1)")  # Yousry in Round 1
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (24, 2)")  # Heba in Round 2
crsr.execute("INSERT INTO Student_Round (student_id, round_id) VALUES (25, 1)")  # Maged in Round 1
#-------------------------------------------------------------
# Insert data into Student_City table
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (1, 250)")  # Sama in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (2, 250)")  # Malak in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (3, 250)")  # Bavly in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (4, 250)")  # Mahmoud in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (5, 250)")  # Ramy in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (13, 250)")  # Amar in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (14, 230)")  # John in Sohag
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (15, 230)")  # Younes in Sohag
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (16, 250)")  # Ali in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (17, 230)")  # Alaa in Sohag
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (18, 250)")  # Nady in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (19, 150)")  # Nader in Aswan
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (20, 250)")  # Wagieh in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (21, 150)")  # Bassem in Aswan
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (22, 230)")  # Saber in Sohag
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (23, 250)")  # Yousry in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (24, 250)")  # Heba in Assiut
crsr.execute("INSERT INTO Student_City (student_id, city_id) VALUES (25, 150)")  # Maged in Aswan
#-------------------------------------------------------------
#save changes 
db.commit()

In [6]:
# Display number of tracks
query = "SELECT COUNT(*) FROM Track"
result = crsr.execute(query).fetchone()  
print("Number of tracks:", result[0])   

# Display number of students
query = "SELECT COUNT(*) FROM Student"
result = crsr.execute(query).fetchone()
print("Number of students:", result[0])

#display all tracks names 
query = "SELECT long_name FROM Track"
result = crsr.execute(query).fetchall()
print("The track names is " ,result)

Number of tracks: 4
Number of students: 18
The track names is  [('Data Science with IBM',), ('data analysis with microsoft',), ('Data Science with microsoft',), ('data analysis with IBM',)]

In [7]:
 # Find all students in a specific round ( round 2):
query = '''SELECT Student.name 
FROM Student
JOIN Student_Round ON Student.student_id = Student_Round.student_id
WHERE Student_Round.round_id = 2;'''
result = crsr.execute(query).fetchall()
print("The student names is " ,result)

The student names is  [('sama',), ('malak',), ('bavly',), ('mahmoud',), ('ramy',), ('ali',), ('nader',), ('wagieh',), ('saber',), ('heba',)]

In [8]:
#Count the number of students in each round:

query = '''SELECT Round.round_id, COUNT(Student.student_id) 
FROM Round
LEFT JOIN Student_Round ON Round.round_id = Student_Round.round_id
LEFT JOIN Student ON Student_Round.student_id = Student.student_id
GROUP BY Round.round_id;'''
result = crsr.execute(query).fetchall()
for row in result:
    print(f"Round ID: {row[0]}, Student Count: {row[1]}")

Round ID: 1, Student Count: 8
Round ID: 2, Student Count: 10

In [9]:
#List all students in a specific city (assiut):
query = '''SELECT Student.name
FROM Student
JOIN City ON Student.city_id = City.city_id
WHERE City.city_id = 250;'''
result = crsr.execute(query).fetchall()
print("The assiut student names is " ,result)

The assiut student names is  [('sama',), ('malak',), ('bavly',), ('mahmoud',), ('ramy',), ('amar',), ('ali',), ('nady',), ('wagieh',), ('yousry',), ('heba',)]

In [10]:
#close the database
crsr.close()
db.close()